In [1]:
import pandas as pd 
import numpy as np
import itertools

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IR/IR project/dataset/final_books.csv')

In [4]:
df.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...

In [5]:
m = 50 # minimum votes required to be listed
k = df['Rating'].mean()
popularity_ratings = {}
for i in range(len(df)):
  r = df['Rating'][i]
  v = df['CountsOfReview'][i]
  wr = (r*v + k*m) / (v+m)
  popularity_ratings[i] = wr

In [15]:
sorted_dict = dict(sorted(popularity_ratings.items(), key=lambda x:x[1],reverse=True))
out  = dict(itertools.islice(sorted_dict.items(),10))

In [17]:
for i in out.keys():
  print(df['Name'][i])

Acheron (Dark-Hunter #14)
The Hero of Ages (Mistborn, #3)
The Island of the World
The Absolute Sandman, Volume Three
Little Blue Truck
The Book of Negroes
An Echo in the Bone (Outlander, #7)
The Battle of the Labyrinth (Percy Jackson and the Olympians, #4)
The Well of Ascension (Mistborn, #2)
Shadow Kiss (Vampire Academy, #3)