In [ ]:
import pandas as pd
import numpy as np
import requests

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
f_books = pd.read_csv("/content/drive/MyDrive/content_based/final_books.csv")
f_books.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...

In [ ]:
len(f_books)

11057

In [ ]:
books = pd.read_csv("/content/drive/MyDrive/content_based/book2000k-3000k.csv")
books.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description
0,2000004,Geschichte der Prophetie in Israel : von den A...,Joseph Blenkinsopp,3170117742,3.66,1998,8,1,Kohlhammer,5:10,4:24,3:25,2:3,1:0,total:62,0,NaN,296,This revised and enlarged edition of Joseph Bl...
1,2000006,Josué et l'alliance de Sichem : (Josué 24:1-28),Moshé Anbar,3631450184,0.00,1992,6,1,"Peter Lang Gmbh, Internationaler Verlag Der Wi...",5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,163,Jos 24:1-28 est une pure oeuvre litteraire com...
2,2000012,The Essential Chocolate Chip Cookbook: Recipes...,Elinor Klivans,0811858049,3.55,2007,12,13,Chronicle Books,5:9,4:12,3:10,2:5,1:2,total:38,6,NaN,120,One of the greatest pleasures of life is bitin...
3,2000021,Fifty Fifty Tutti Frutti Chocolate Chip And Ot...,Esther Menon,0435125370,3.00,2009,9,1,Heinemann Educational Secondary Division,5:0,4:1,3:7,2:1,1:0,total:9,0,NaN,199,This collection spans cultures as diverse as S...
4,2000024,Let's Make Cookies,Mary Hill,0516239589,3.50,2005,12,2,Children's Press(CT),5:0,4:1,3:1,2:0,1:0,total:2,0,NaN,24,"Favorite foods are cooking In the Kitchen, and..."

In [ ]:
len(books)

395957

In [ ]:
books.drop_duplicates(subset='Name', inplace = True)

In [ ]:
len(books)

395957

In [ ]:
f_books['ISBN'] = None

In [ ]:
f_books.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description,ISBN
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...,None
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...,None
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...,None
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...,None
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...,None

In [ ]:
d = {}

for i in range(len(books['Name'])):

  d[books['Name'][i]] = i

In [ ]:
first_five = list(d.items())[:5]

for key, value in first_five:
    print(key, value)

Geschichte der Prophetie in Israel : von den Anfängen bis zum hellenistischen Zeitalter 0
Josué et l'alliance de Sichem : (Josué 24:1-28) 1
The Essential Chocolate Chip Cookbook: Recipes from the Classic Cookie to Mocha Chip Meringue Cake 2
Fifty Fifty Tutti Frutti Chocolate Chip And Other Stories (New Windmills) 3
Let's Make Cookies 4

In [ ]:
for i in range(len(f_books['Name'])):

  f_books['ISBN'][i] = books.iloc[d[f_books['Name'][i]]]['ISBN']

<ipython-input-39-6d56dea9eeae>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_books['ISBN'][i] = books.iloc[d[f_books['Name'][i]]]['ISBN']

In [ ]:
f_books.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description,ISBN
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...,1558583998
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...,0310201209
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...,0676979491
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...,0345496817
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...,0345498259

In [ ]:
f_books['Image_URL'] = None
f_books.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description,ISBN,Image_URL
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...,1558583998,None
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...,0310201209,None
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...,0676979491,None
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...,0345496817,None
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...,0345498259,None

In [ ]:
def get_book_cover_url(title, author):

  i = 0
  while (i < 5): 
      
    url = f"https://api.bookcover.longitood.com/bookcover?book_title={title}&author_name={author}"
    response = requests.get(url)
    data = response.json()
    print(data)
    if 'url' in data:
      if data['url'] != "":
        return data['url']
    i += 1
  
  return None
  #   if response.status_code == 200:
  #       data = response.json()
  #       if 'covers' in data:
  #           cover_id = str(data['covers'][0])
  #           cover_url = f"https://covers.openlibrary.org/b/id/{cover_id}-L.jpg"
  #           return cover_url
  #   return None

In [ ]:
# for i in range(13, len(f_books['ISBN'][13:40])):

#   print(i)

#   f_books['Image_URL'][i] = get_book_cover_url(f_books['Name'][i], f_books['Authors'][i])

In [ ]:
from google.colab import files

# Write your dataset to a CSV file
f_books.to_csv('my_dataset.csv', index=False)

# Download the CSV file to your local machine
# files.download('my_dataset.csv')

In [ ]:
X_books = pd.read_csv("/content/drive/MyDrive/content_based/Books.csv")
X_books.head()

<ipython-input-45-13f8d793fb87>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  X_books = pd.read_csv("/content/drive/MyDrive/content_based/Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
len(X_books['Book-Title'])

271360

In [ ]:
# X_books.drop_duplicates(subset='Book-Title', inplace = True)

In [ ]:
len(X_books['Book-Title'])

271360

In [ ]:
dd = {}

for i in range(len(X_books['Book-Title'])):

  dd[X_books['Book-Title'][i]] = X_books['Image-URL-L'][i]

In [ ]:
for i in range(len(f_books['Name'])):

  if f_books['Name'][i] in dd.keys():

    f_books['Image_URL'][i] = dd[f_books['Name'][i]]

<ipython-input-50-444d589538a8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_books['Image_URL'][i] = dd[f_books['Name'][i]]

In [ ]:
print(f_books['Image_URL'].isna().sum())

7050

In [ ]:
len(f_books['Image_URL'])

11057

In [ ]:
f_books.head()

,Name,Authors,Rating,PublishYear,Publisher,CountsOfReview,Language,PagesNumber,Description,ISBN,Image_URL
0,The Sleeping Beauty,Jacob Grimm,3.84,1995,NorthSouth,0,NaN,32,Enraged at not being invited to the princess' ...,1558583998,http://images.amazon.com/images/P/0861630106.0...
1,Threshold,Bill Myers,3.83,1997,Zondervan Publishing Company,3,NaN,331,Some say Brandon Martus has a mysterious abili...,0310201209,http://images.amazon.com/images/P/0446605212.0...
2,What Is the What,Dave Eggers,4.16,2007,Vintage Canada,65,NaN,538,<b>What Is the What</b> is the story of Valent...,0676979491,None
3,"Parasyte, Volume 2",Hitoshi Iwaaki,4.29,2007,Del Rey,77,eng,288,<b>PERSONAL DEMON</b><br /><br />Shin looks li...,0345496817,None
4,"Parasyte, Volume 3",Hitoshi Iwaaki,4.27,2008,Del Rey,48,NaN,283,ALIEN NATION <br />Aliens parasites have invad...,0345498259,None

In [ ]:
# Write your dataset to a CSV file
f_books.to_csv('image_dataset.csv', index = False)

# Download the CSV file to your local machine
files.download('image_dataset.csv')